{% extends 'base.html' %}

{% block title %} Modifier article {% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h2 class="mb-4">
                            Modifier l'article
                        </h2>

                        <form action="/article/edit/{{article.id}}/" method="POST">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="form-label">Titre de l'article <span class="text-danger">*</span></label>
                                <input type="text" name="titre" class="form-control" value="{{article.titre}}" required>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Catégorie <span class="text-danger">*</span></label>
                                    
                                    <select name="type_contenu" class="form-select" required>
                                        <option value="" disabled selected>Choisissez une catégorie...</option>
                                        {% for category in categories %}

                                            <option value="{{category.id}}" {% if category.id == article.type_contenu.id %} selected {% endif %}>{{category}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                           

                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Statut <span class="text-danger">*</span></label>

                                    <select name="statut" class="form-select" required>
                                        <option value="Brouillon" {% if article.statut == 'Brouillon' %} selected {% endif %}>Brouillon</option>
                                        <option value="Publié" {% if article.statut == 'Publié' %} selected {% endif %}>Publié</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Contenu <span class="text-danger">*</span></label>

                                <textarea name="contenu" class="form-control" rows="12"required>{{article.contenu}}</textarea>

                            </div>

                            <button type="submit" class="btn btn-primary w-100">Enregistrer les modifications</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}